body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #333;
}

header {
    background-color: #1a237e; /* Bleu foncé */
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #5c6bc0; /* Bleu plus clair */
}

section {
    background-color: #FFF;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}

footer {
    background-color: #1a237e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #1a237e;
}

/* Style pour le formulaire et les boutons */
input[type="text"], input[type="datetime-local"], select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #5c6bc0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: #3949ab;
}
